* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.body {
  min-height: 100vh;
  width: auto;
}
.light {
  background-color: rgb(251, 249, 245);
  color: black;
}

.dark {
  background-color: #100e18;
  color: white;
}
.light .header {
  background-color: rgb(251, 249, 245);
  color: black;
}
.dark .header {
  background-color: #100e18;
  color: white;
}
